:root{
    --primary:black
}
.nav_wrapper{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}
.logo-icon{
    width: 20px;
    height: 20px;

}
.logo{
    display: flex;
    align-items: baseline;
    cursor: pointer;
}
.nav_links{
    display: flex;
    justify-content: space-between;
}
.user_details{
    display: flex;
    justify-content: start;
    margin-left: 20px;
    column-gap: 1.2rem;
}
.nav_item{
    display: inline-block;
    cursor: pointer;
    margin-right: 10px;
}
.navigation{
    width: 300px;
}
.heart_icon{
    width: 20px;
    height: 20px;
}
.user_icon img{
    width: 30px;
    height: 30px;
    cursor: pointer;
}
.nav_links_active{
    font-weight: 600;
}
.mobile_menu{
    display: none;
}
.bag_icon,.heart_icon{
    font-size: 20px;
    position: relative;
    cursor: pointer;
}
.bag_icon_noti,.heart_icon_noti{
    position: absolute;
    width: 15px;
    height: 15px;
    padding: 5;
    background: var(--primary);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    top: 10%;
    right: -10%;
    font-size: 10px;
}
.nav_item a:hover{
    color: black;
}

.site-nav{
    position: absolute;
    top: 0;
    z-index: 50;
    width: 100%;
    height: 50px;
    /* background-color: #ffffff;
    box-shadow: 0 0 5px #00000020; */
}

.sticky_header{
    width: 100%;
    /* height: 150px;
    line-height: 150px; */
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    background: white;
    box-shadow: 3px 3px 8px -3px #ddd;
}
.all-features-users{
    display: flex;
    align-items: center;
    gap:10px
}

@media screen and (max-width:991px) {
    /* .navigation{
        margin-top: 80px;
    } */
    .nav_links{
        margin-left: 20px;
    }
    .site-nav{
        position: fixed;
        top: 0;
        z-index: 50;
        width: 100%;
        height: 50px;
        /* background-color: #ffffff;
        box-shadow: 0 0 5px #00000020; */
    }
    .site-nav .show {
        position: fixed;
        top: 40px;
        z-index: 50;
        width: 100%;
        height: 210px;
    }
    .user_details{
        display: flex;
        /* justify-content: start; */
        flex-direction: column;
        gap: 10px;
        margin-left: 20px;
        column-gap: 1.2rem;
    }
    
}